.contentActivities{
    background-color: rgb(226, 226, 226);
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contTitle{
    
    width: 100%;
}
.contSub{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
}
h4{
    margin: 10px;
}
.btnAgregar{
    background-color: #1db34f;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

}
.btnAgregar:hover{
    scale: 0.9;
}
.contTable{
    
    width: 60%;
}
.contFooter{
    
    width: 30%;
    display: flex;
    align-content: center;
    justify-content: end;
}
.contTitle, .contSub {
    text-align: center;
}

.dataAqui{
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 250px;
    min-width: 300px;
    min-height: 200px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
   
}

th, td {
    text-align: left;
    padding: 10px;
    
}



th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}